<style>
 .container {
  width: 800px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
 }

 img {
  object-fit: contain;
 }

</style>

<div class="container">
  <img src="https://rentx.pt/images/7u8ZUj6dUQSuR3ECXqZ6qfegudu1o6WmAYngb5cIjdo2oJTaMCJ8Q5pkDcYMpgJJM6NdRA0yMRZ1qYUs.png" alt="Rentx Logo">
  <h1>Olá, {{name}}</h1>
  <br />

  <p>Você solicitou alteração de senha.</p>

  <p>Para realizar a troca da sua senha, clique no link abaixo.</p>

  <a href={{link}}>{{link}}</a>

  <p>Caso não tenha solicitado a alteração da sua senha, basta ignorar este
    e-mail.</p>

  <p>Obrigado.</p>

  <h3>Equipe | <strong>Rentx</strong></h3>
</div>